@media screen and (max-width: 767px) {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

  :root {
    /* Tamaños de fuente */
    --font-medium: 2em;
  }
  .container {
    width: 100vw;
  }
  /* ------- HEADER ------ */
  .header_container {
    height: 8.5vh;
    padding: auto 0;
    /*justify-content: center;*/
    margin-bottom: 1rem;
  }
  .header_logo,
  .header_p {
    justify-content: space-around;
    padding: auto;
    margin-top: 0.3rem;
    padding: 0;
    font-size: 2rem;
    text-align: center;
  }
  /* ------- MAIN ------ */
  .main_container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .entrada {
    height: 200%; /*cambio 75*/
    width: 80%;
    justify-content: space-evenly;
  }
  .alert {
    margin-top: 1rem;
    display: block;
    margin-bottom: 1.2rem;
    padding-bottom: 0rem;
  }
  .alert_icon {
    padding: 1.2rem 0;
  }
  .alert_p {
    padding: 0em;
    margin-bottom: 0;
    font-size: 1.3rem;
    width: 100%;
  }

  .botones {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .mensaje_inicial,
  .resultado {
    width: 100%;
    height: 75%;
    margin-top: 2em;
    margin-bottom: auto;
  }
  .salida {
    height: 120%;
    width: 80%;
    font-size: 1rem;
  }
  .txtarea1,
  .textarea2 {
    padding: 0.5em;
    margin-top: 0em;
    margin-bottom: 0;
    font-size: var(--font-medium);
  }

  .btn_s1,
  .btn_s2 {
    margin: 0.5em;
    padding: auto;
    padding: 1em;
    width: 30rem;
  }

  #copyButton {
    margin-top: 1em;
  }
  .imagen {
    display: none;
  }

  /* ------- FOOTER ------ */
  .copyright {
    font-size: 1.2em;
  }
}
