@media screen and (min-width: 767px) and (max-width: 1023px) {
  :root {
    /* Tamaños de fuente */
    --font-medium: 2rem;
  }
  .container {
    width: 100vw;
  }
  /* ------- HEADER ------ */
  .header_container {
    height: 8.5vh;
    padding: auto 0;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .header_logo {
    margin-left: 2rem;
    margin-right: 1rem;
    font-size: 1.5rem;
  }
  .header_p {
    margin-top: 0.3rem;
    padding: 0rem;
    font-size: 2rem;
    text-align: center;
  }
  /* ------- MAIN ------ */
  .main_container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .entrada {
    height: 150%;
    width: 80%;
    justify-content: space-evenly;
  }
  .botones {
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .mensaje_inicial,
  .resultado {
    width: 100%;
    height: 80%;
    margin-top: 2rem;
    margin-bottom: auto;
  }

  .salida {
    height: 80%;
    width: 80%;
    font-size: 1.5rem;
  }
  .textarea2 {
    padding: 0.5rem;
    margin-top: 0rem;
    margin-bottom: 0;
    font-size: var(--font-medium);
  }

  .botones {
    width: 60rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .btn_s1,
  .btn_s2 {
    width: 100%;
    margin: 0.5rem;
    padding: 1.5rem;
    font-size: 1.5rem;
  }

  #copyButton {
    margin-top: 1rem;
    width: 50%;
  }
  .imagen {
    display: none;
  }

  /* ------- FOOTER ------ */
  .copyright {
    font-size: 1.5rem;
  }
}
